:root {
  --cor-amarelo: rgb(90, 155, 199);
  --cor-roxa: magenta;
  --cor-azul: cyan;
  --cor-amarelo: rgb(90, 155, 199);
  --cor-rosa: rgb(152, 241, 159);
  --cor-preto: black;
  --cor-branco: beige;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 20px;
  text-align: center;
  white-space: nowrap;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 45px;
}

h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 35px;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  text-align: justify;
  line-height: 1.5;
  font-size: 20px;
}

main {
  background-color: aliceblue;
  display: grid;
  grid-template-areas:
    "header"
    "section_rqs"
    "section_vest"
    "section_prova"
    "section_form"
    "footer";
}
.header {
  grid-area: header;
}
.section_rqs {
  grid-area: section_rqs;
}
.section_vest {
  grid-area: section_vest;
}
.section_prova {
  grid-area: section_prova;
}
.footer {
  grid-area: footer;
}

.header {
  background-color: var(--cor-amarelo);
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

header figure img {
  width: 70px;
  padding: 20px;
}

header ul,
header form {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

header ul {
  gap: 1.5vw;
  width: 500px;
}

header ul a {
  text-decoration: none;
  color: var(--cor-preto);
  border-bottom: none none none;
  border-radius: 3vw;
  padding: 10px 25px;
  transition: 1s;
}

header ul a:hover {
  cursor: pointer;
  transition: 1s;
  color: var(--cor-branco);
  background-color: var(--cor-preto);
  border: 1px solid var(--cor-preto);
  border-radius: 25px;
  font-size: 23px;
}

header form {
  border: solid 1px;
  border-radius: 3vw;
  padding: 0.5vw 1vw 0.5vw 1vw;
  margin: 15px;
  width: 250px;
}

header form img {
  height: 15px;
  padding-right: 10px;
}

header input {
  border: none;
  border-radius: 3vw;
  padding-left: 1vw;
  background-color: transparent;
  width: 100%;
}

.section_rqs {
  height: 430px;
  background-color: var(--cor-verde);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 15px;
}

.section_rqs div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.rqs_texto {
  margin-left: 2vw;
  width: 600px;
  display: flex;
  flex-flow: column nowrap;
}

.rqs_texto h3 {
  padding: 15px 0;
}

.rqs_texto h4 {
  padding-bottom: 15px;
}

.rqs_texto p {
  padding-bottom: 15px;
}

.rqs_texto nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bnt ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.bnt ul li {
  box-shadow: none;
  padding: 7px 20px 7px 20px;
  border-radius: 15px;
  border: 1px solid #000;
  background-color: rgb(245, 245, 219);
  transition: 1s;
}

.bnt ul li:hover {
  cursor: pointer;
  transition: 1s;
  background-color: #000;
  color: rgb(245, 245, 219);
}

.logo {
  display: flex;
  justify-content: center;
  padding: 15px;
  width: 450px;
}
.logo img {
  width: 95%;
}
.section_vest {
  background-color: var(--cor-azul);
  height: 950px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.section_vest div,
.section_vest section figure {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section_vest section {
  border: 2px solid var(--cor-preto);
  border-radius: 15px;
  padding: 15px;
  width: 350px;
  margin: 0px 10px 15px 10px;
}

.section_vest div {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
}

.section_vest section figure img {
  height: 200px;
  padding-bottom: 10px;
}

.section_vest h4 {
  text-align: center;
  padding-bottom: 7px;
}

.section_prova {
  background-color: var(--cor-cinza);
  height: 630px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 15px 15px 15px;
  gap: 15px;
}

.section_prova div {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 15px;
}

.section_prova div section {
  border: 1px solid var(--cor-preto);
  padding: 15px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

.section_prova div figure img {
  height: 170px;
}

.section_form {
  background-color: var(--cor-rosa);
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.section_form header {
  text-align: center;
  margin: 15px 0 15px 0;
  font-size: 20px;
}

.section_form form {
  display: grid;
  grid-template-areas:
    "nome email"
    "textarea textarea"
    "enviar enviar";
  width: 60vw;
  gap: 5px;
  margin-bottom: 15px;
}

.nome {
  grid-area: nome;
  width: 30vw;
}

.nome input {
  width: 28vw;
  border: 1px solid var(--cor-preto);
  border-radius: 5px;
  padding: 5px;
  margin-top: 5px;
}

.email {
  grid-area: email;
  width: 30vw;
}

.email input {
  width: 28vw;
  border: 1px solid var(--cor-preto);
  border-radius: 5px;
  padding: 5px;
  margin-top: 5px;
}

.textarea {
  grid-area: textarea;
  width: 60vw;
}

.textarea textarea {
  width: 60vw;
  border: 1px solid var(--cor-preto);
  border-radius: 5px;
  padding: 5px;
  margin-top: 5px;
}

#enviar {
  grid-area: enviar;
  width: 60vw;
  padding: 5px;
  border-radius: 15px;
  border: 1px solid var(--cor-preto);
  background-color: rgb(245, 245, 219);
  font-size: 15px;
  transition: 1s;
}

#enviar:hover {
  cursor: pointer;
  transition: 1s;
  background-color: var(--cor-preto);
  color: rgb(245, 245, 219);
  font-size: 18px;
}

.footer {
  background-color: var(--cor-amarelo);
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1117px) {
  .section_rqs {
    height: 800px;
  }
  .section_rqs div {
    height: auto;
  }
}

@media (max-width: 1085px) {
  .header {
    height: 130px;
    align-content: center;
  }
}

@media (max-width: 910px) {
  .section_prova {
    height: 900px;
  }
}

@media (max-width: 817px) {
  .section_vest {
    height: 1800px;
  }
}

@media (max-width: 779px) {
  .header {
    height: 160px;
    align-content: center;
  }
}

@media (max-width: 638px) {
  .section_prova {
    height: 1180px;
  }
}

@media (max-width: 562px) {
  .section_prova {
    height: 1440px;
  }
}

@media (max-width: 535px) {
  .section_prova {
    height: 1730px;
  }
}

@media (max-width: 510px) {
  .header {
    height: 250px;
    align-content: center;
  }
  header ul {
    width: 100vw;
    flex-flow: column wrap;
  }
}
